footer {
  background-color: #8c4804;
  width: 100%;
  bottom: 0;
  display: grid;
  justify-content: center;
}
footer.info div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .boton-footer {
  background-color: rgb(2, 9, 57);
  border: none;
  color: #8c4804;
  padding: 20px 30px;
  width: 22%;
  height: 100px;
  display: inline-block;
  font-size: 17px;
  text-align:left;
  border-radius: 8px;
}
footer .seccion-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .seccion-footer h3 {
  padding: 10px;
  padding-top: 30px;
  font-size: 2em;
  color: rgb(9, 9, 9);
}
footer .seccion-footer p {
  padding: 10px;
  font-size: 1.5em;
  color: black;
}
footer .seccion-footer img {
  width: 100%;
}

@media (min-width: 800px) {
  footer {
    width: 100%;
    display: grid;
    grid-template-rows: 70% 30%;
  }
  footer .info {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  }
  footer .seccion-footer {
    text-align: center;
  }
  footer .seccion-footer h3 {
    padding: 8px;
    padding-top: 30px;
    font-size: 1.5em;
    color: rgb(9, 9, 9);
  }
  footer .seccion-footer p {
    padding: 8px;
    font-size: 1.2em;
    color: black;
  }
  footer .seccion-footer .boton-footer {
    width: 120px;
    height: 80px;
    /* display:inline-block; */
    font-size: 17px;
    text-align: center;
    border-radius: 8px;
  }
}
@media (min-width: 1024px) {
  footer {
    display: grid;
    grid-template-columns: 66% 34%;
    padding-bottom: 20px;
  }
  footer .info {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  }
  footer .section-footer h3 {
    padding: 20px;
    padding-top: 30px;
    font-size: 1.8em;
    color: rgb(9, 9, 9);
  }
  footer .section-footer p {
    padding: 18px;
    font-size: 1.3em;
    color: black;
  }
  footer .boton-footer {
    width: 180px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
  }
}