@import 'variables';
*{
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-size: 16px;    
  } 
body{
    margin: 0;     
} 
h4{
    color: rgb(15, 15, 15);
}
h1{
    color: white;

}

@import 'header';
@import 'banner';
@import 'contenido';
@import 'footer';
//@import 'mixin.scss';